@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body {
    font-family: 'Lora', serif, Arial, Helvetica, sans-serif; 
    color: #333;
    background-color: white;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2, h3 {
    color: #333;
}

h2 {
    text-align: center;
}

header {
    background: black;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    margin: 20px 0;
}

.portfolio-container,
#presentation p,
#competences p {
    text-align: center;
    background-color: #fefee5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 50px;
}

section {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 40px;
    margin: 50px;
}

section:last-of-type {
    border-bottom: none;
}

.project, .formation-item {
    background: #fefee5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 50px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.portfolio-item {
    flex: 0 1 calc(33.333% - 20px);
    margin-bottom: 20px;
    position: relative;
}

.portfolio-item a {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.portfolio-item img {
    width: 100%;
    display: block;
    transition: all 0.3s ease;
}

.portfolio-item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    text-align: center;
    width: 80%;
    margin: 0;
}

.portfolio-item:hover p {
    opacity: 1;
    text-decoration: underline;
}

.portfolio-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.portfolio-item:hover::after {
    opacity: 1;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer h2 {
    color: white;
}


.button-style {
    background-color: #0077b5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
    text-decoration: none;
    display: inline-block;
}


.button-style:hover {
    background-color: #055d8c;
    transform: scale(1.05);
}


.button-style:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0077b5;
}


.button-style:active {
    transform: scale(0.95);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fefee5;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#back-to-top i {
    display: flex;
    font-size: 36px;
    justify-content: center;
    padding: 10px;
}

.arrow-square {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    p {
        font-size: 18px;
    }

    .portfolio-item {
        flex: 0 1 100%;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 16px;
    }

    .portfolio-item {
        flex: 0 1 100%;
    }

    section {
        margin: 0;
    }
}
